@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

#app {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body
{
  background-color: #011627;
  background-image: "./main_bg.png";
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Fira Code', monospace;
}

h1
{
  color: #E5E9F0;
  font-size: 62px;
}

h2
{
  color:#4D5BCE;
  font-size: 32px;
}

em
{
  color: #43D9AD;
}

p
{
  color:#607B96;
  font-size: 16px;
}

button
{
  background-color: #FEA55F;
  color: #01080E;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}